<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="chatApp">
    <div class="jumbotron">
        <h1>Super Simple Chat</h1>
        <p>This is a
            <s>very</s> super simple chat.</p>
    </div>

    <div class='container'>
        <div ng-controller='SocketCtrl'>
            <div data-ng-show="errorMessage" class="alert alert-danger" role="alert" data-ng-bind="errorMessage"></div>
            <div data-ng-hide="connected">
                <form role='form' novalidate name='loginForm'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Enter your nickname</span>
                            <input type="text" class="form-control" placeholder="Nickname" ng-model='nickName' focus />
                            <span class="input-group-btn">
                                <button class='btn btn-primary' ng-enable='form.$valid' ng-click="connect()">Connect</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div data-ng-show="connected">
                Welcome <span ng-bind="nickName"></span>!
                <div class='row'>
                    <div class='col-md-12'>
                        <chat-box></chat-box>
                    </div>
                </div>
                <div class='row'>
                    &nbsp;
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <form role='form' novalidate name='form'>
                            <div class='form-group'>
                                <div class="input-group">
                                    <input type='text' class="form-control" required ng-max='50' ng-model='message' focus>
                                    <span class="input-group-btn">
                                        <button class='btn btn-primary' ng-enable='form.$valid' ng-click="sendMessage(message)">Send!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/socket.js"></script>
    <script src="scripts/services/socket.js"></script>
    <script src="scripts/services/messageformatter.js"></script>
    <script src="scripts/directives/chatbox.js"></script>
    <!-- endbuild -->
</body>

</html>